[tool.poetry]
name = "gyver"
version = "2.6.1"
description = "Toolbox for web development"
authors = ["Gustavo Correa <self.gustavocorrea@gmail.com>"]
readme = "README.md"
repository = "https://github.com/guscardvs/gyver"

[tool.poetry.dependencies]
python = "^3.9"
orjson = "^3.8.1"
pydantic = { version = "^1.10.2", extras = ["email"] }
typing-extensions = "^4.4.0"
psycopg2 = { version = "^2.9.5", optional = true }
asyncpg = { version = "^0.27.0", optional = true }
aiomysql = { version = "^0.1.1", optional = true }
pymysql = { version = "^1.0.2", optional = true }
aiosqlite = { version = "^0.18.0", optional = true }
tzdata = { markers = "sys_platform != \"linux\"", version = "^2022.6" }
sqlalchemy = { version = "^2.0.4", optional = true }
cryptography = "^41.0.0"
redis = { version = "^4.5.5", optional = true }
gyver-attrs = "^0.5.2"
faust-cchardet = "^2.1.18"
env-star = "^2.2.0"

[tool.poetry.group.lint.dependencies]
black = "^22.10.0"
isort = "^5.10.1"
flake8 = "^5.0.4"
autoflake = "^1.7.7"

[tool.poetry.group.test.dependencies]
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
coverage = "^6.5.0"
pytest-asyncio = "^0.20.1"
hypothesis = "^6.56.4"
fakeredis = "^2.17.0"
moto = { extras = ["sqs", "s3"], version = "^4.0.12" }
pytest-xdist = "^3.2.1"


[tool.poetry.group.asgi.dependencies]
starlette = "^0.21.0"
sanic = "^22.9.1"


[tool.poetry.group.aws.dependencies]
boto3 = "^1.26.13"
moto = "^4.0.9"
boto3-stubs = { extras = ["s3", "sqs"], version = "^1.26.13" }


[tool.poetry.group.docs.dependencies]
termynal = "^0.10.0"
mkdocstrings = {extras = ["python"], version = "^0.22.0"}
mkdocs-material = "^9.1.21"


[tool.poetry.group.opts.dependencies]
attrs = "^22.2.0"

[tool.poetry.extras]
db-mysql = ['aiomysql', 'pymysql', 'sqlalchemy']
db-mariadb = ['aiomysql', 'pymysql', 'sqlalchemy']
db-pg = ['asyncpg', 'psycopg2', 'sqlalchemy']
db-sqlite = ['aiosqlite', 'sqlalchemy']
cache = ['redis']

[tool.black]
line_length = 88

[tool.isort]
profile = 'black'
line_length = 88
force_single_line = true

[tool.pytest.ini_options]
asyncio_mode = "auto"
addopts = [
    "-n",
    "4",
    "--cov=gyver/",
    "--cov-report=html",
    "--cov-config=.coveragerc",
    "--no-cov-on-fail",
    "--cov-fail-under=80",
    "--nf",
    "--maxfail=1"
]
filterwarnings = [
    "error",
    "ignore:The --rsyncdir command line argument and rsyncdirs config variable are deprecated.:DeprecationWarning",
]
[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
