[tool.poetry]
name = "gyver"
version = "0.21.1"
description = "Toolbox for web development"
authors = ["Gustavo Correa <self.gustavocorrea@gmail.com>"]
readme = "README.md"
repository = "https://github.com/guscardvs/gyver"

[tool.poetry.dependencies]
python = "^3.9"
orjson = "^3.8.1"
pydantic = { version = "^1.10.2", extras = ["email"] }
typing-extensions = "^4.4.0"
psycopg2 = { version = "^2.9.5", optional = true }
asyncpg = { version = "^0.27.0", optional = true }
aiomysql = { version = "^0.1.1", optional = true }
pymysql = { version = "^1.0.2", optional = true }
aiosqlite = { version = "^0.18.0", optional = true }
tzdata = { markers = "sys_platform != \"linux\"", version = "^2022.6" }
sqlalchemy = { version = "^1.4.43", optional = true }
cryptography = "^38.0.4"
asyncmy = { version = "^0.2.5", optional = true }
redis = { version = "^4.4.0", optional = true }

[tool.poetry.group.lint.dependencies]
black = "^22.10.0"
isort = "^5.10.1"
flake8 = "^5.0.4"
autoflake = "^1.7.7"

[tool.poetry.group.test.dependencies]
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
coverage = "^6.5.0"
pytest-asyncio = "^0.20.1"
hypothesis = "^6.56.4"
fakeredis = "^2.4.0"
moto = { extras = ["sqs", "s3"], version = "^4.0.12" }

[tool.poetry.group.types.dependencies]
sqlalchemy2-stubs = "^0.0.2a29"


[tool.poetry.group.asgi.dependencies]
starlette = "^0.21.0"
sanic = "^22.9.1"
quart = "^0.18.3"


[tool.poetry.group.aws.dependencies]
boto3 = "^1.26.13"
moto = "^4.0.9"
boto3-stubs = { extras = ["s3", "sqs"], version = "^1.26.13" }


[tool.poetry.group.docs.dependencies]
mkdocs-material = "^9.0.6"
termynal = "^0.2.1"

[tool.poetry.extras]
db-mysql = ['asyncmy', 'pymysql']
db-mariadb = ['asyncmy', 'pymysql']
db-pg = ['asyncpg', 'psycopg2']
db-sqlite = ['aiosqlite']
cache = ['redis']
sqlalchemy = ['sqlalchemy']

[tool.black]
line_length = 88

[tool.isort]
profile = 'black'
line_length = 88
force_single_line = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
